/* Styling the body */
body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Login Styling */
.login-container{
  max-width: 500px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: whitesmoke;
}

.login-container span{
  margin-top: 20px;
  color: #adb5bd;
}

.btn-sign-up{
  border: none;
  color: #adb5bd;
  cursor: pointer;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

label {
  text-align: left;
  margin: 0 0 -10px 0;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.login-container .col-1{
  margin: auto;
  padding: 3em 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

/* Register Styling */
.register{
  max-width: 500px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: whitesmoke;
}

.register span{
  color: #adb5bd;
}

.btn-sign-in{
  border: none;
  color: #adb5bd;
  cursor: pointer;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

/* Form styling */
.todolist-form {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}

.todolist-form input {
  width: 230px;
  height: 25px;
  margin-right: 10px;
} 

.todolist-form button {
  border: none;
  background: none;
}

.add-btn {
  font-size: 30px;
  margin-left: -70px;
}

/* Display List */
.todolist-display {
  margin-top: 20px;
}


.display-list {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: green;
}

.display-list h2 {
  width: 60%;
  margin: 0 30px 0 0;
}

.edit-btn {
  margin-right: 15px;
  font-size: 20px;
}